<!-- vincular as propriedades descritas no ts (interpolation.component.ts)-->
<div class="content">
    <h2>Interpolation Data Binding</h2>

    <span>O valor da variavel x é: {{ x }}</span>
    <br/><br/>

    <span>O Array de numeros, é composto pelos seguintes valores: {{ umArray}}</span>
    <br/><br/>

    <span>A data de hoje é: {{dataHoje}}</span>
    <br/><br/>

    <span>O status do booleano indicado na variavel é: {{statusBooleano}}</span>
    <br/><br/>

    <span>{{ statusBooleano ? "Este é o texto para o status TRUE" : "Este  é o texto para o status FALSE"}}</span>
    <br/><br/>

    <span>{{ exibirTexto() }}</span>
</div>